<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MCQ Editor</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <script src="{{ url_for('static', filename='js/ace.js') }}" type="text/javascript" charset="utf-8"></script>
    <style>
        body {
            background-color: #f8f9fa;
        }
        h1 {
            margin-top: 20px;
            margin-bottom: 20px;
        }
        #editor {
            height: 300px; /* Adjust height as needed */
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 20px;
        }
        .form-group {
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center">MCQ Editor</h1>
        <form action="/" method="post" enctype="multipart/form-data">
            <!-- Editor for manual text input -->
            <div id="editor"></div>
            <textarea name="text_content" id="text_content" style="display: none"></textarea>

            <!-- File input for uploading text files -->
            <div class="form-group">
                <label for="file_input">Upload text file(s):</label>
                <input type="file" id="file_input" name="text_files" multiple class="form-control-file" />
            </div>

            <!-- Template size selector -->
            <div class="form-group">
                <label for="template_size">Select Template Size:</label>
                <select name="template_size" id="template_size" class="form-control">
                    <option value="25">25 Questions</option>
                    <option value="50">50 Questions</option>
                    <option value="100">100 Questions</option>
                    <option value="125">125 Questions</option>
                    <option value="150">150 Questions</option>
                    <option value="200">200 Questions</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary btn-block">Generate Document</button>
        </form>
    </div>

    <script>
      var editor = ace.edit("editor");
      editor.setTheme("ace/theme/monokai");
      editor.session.setMode("ace/mode/plain_text");
      editor.session.setUseWrapMode(true);
      editor.setShowPrintMargin(false);
      editor.setShowFoldWidgets(false);

      // Sync the Ace editor content with the textarea
      document.querySelector("form").addEventListener("submit", function () {
        document.getElementById("text_content").value = editor.getValue();
      });
    </script>
</body>
</html>
